<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PhoenixElixirDokku</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation" style="display:flex; flex-direction:row">
          <ul>
            <li><a href="<%= Routes.page_path(@conn, :index) %>">@home</a></li>
          </ul>
          <ul>
            <li><a href="<%= Routes.config_path(@conn, :index) %>">/config</a></li>
          </ul>
          <ul>
            <li><a href="<%= Routes.page_path(@conn, :runtime_error_match) %>">/runtime-error-match</a></li>
          </ul>
          <ul>
            <li><a href="<%= Routes.page_path(@conn, :runtime_error_conn) %>">/runtime-error-conn</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="<%= Map.get(@conn.assigns, :style_layout, "container") %>">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer>
    <section>
      <nav role="navigation" style="display:flex; flex-direction:row">
      <ul>
      <li>
        <div>Mix Project version: <%= PhoenixElixirDokku.MixProject.project[:version] %></div>
      </li>
      <li>
        <div>Mix.env: <%= Mix.env() %></div>
      </li>
      </ul>
      </nav>
    </section>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
